body {
    padding-top: 5rem;
}
.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

#imgInput-load {
    max-height: 320px;
    max-width: 240px;
}
.thumbnail .caption {
    margin-top: 25px;
}

.preview-image {
    max-height: 320px;
    max-width: 240px;
}

.wrapper {
    margin: auto;
}